/* || General Setup */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&family=Zen+Dots&display=swap");

body {
  background-color: #202124;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* alternative box model */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* || Main Grid Layout */

.head {
  grid-area: head;
}

.hero {
  grid-area: hero;
}

.pie {
  grid-area: pie;
}

.footer {
  grid-area: footer;
  margin-left: 2.5em;
}

.forms {
  grid-area: forms;
}

body {
  display: grid;
  grid-template-areas: "head" "hero" "pie" "forms" "footer";
  grid-template-rows: auto 1fr 1fr auto auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* || Typography */

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #e7eaed;
}

h1 {
  font-family: "Zen Dots", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.25em;
}

p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #9aa0a5;
}

#hero1 {
  font-size: 4rem;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

#hero2 {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

label,
input {
  font-size: 1.5rem;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.dropList {
  font-size: 1.5rem;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/* || Components  */

/* header */

h1 {
  margin: 0;
  margin-top: 0.5em;
  margin-left: 1em;
  position: absolute;
  z-index: 1;
}

/* hero image  */

#unsplash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* hero text */

.herodiv {
  display: flex;
  justify-content: center;
}

#hero1 {
  position: absolute;
  margin: 0;

  top: 30%;
}

#hero2 {
  position: absolute;
  margin: 0;
  top: 40%;
}

/* pie chart */

#chart_wrap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

#piechart {
  position: absolute;
  top: 0;
  left: 5em;
  width: 100%;
  height: 100%;
  max-width: 797px;
  max-height: 705px;
}

/* forms */

.forms {
  position: relative;
  bottom: 10em;
}

.forms > * {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 1.5em;
}
label {
  width: 8em;
  padding-top: 0.6em;
}
.textInput {
  padding: 0.5em;
  padding-left: 0.7em;
  margin-right: 0.8em;
  width: 40%;
}
.dropList {
  padding: 0.5em;
  margin-right: 0.8em;
  width: 40%;
  height: 2.54em;
}
.fButton {
  width: 5em;
}

/* #addInput {
  color: red;
}
#addButton {
  color: red;
}

#remInput {
  color: blue;
}
#remButton {
  color: blue;
}

#changeList {
  color: greenyellow;
}
#changeButton {
  color: greenyellow;
} */

/* || Media queries */
@media (min-width: 610px) {
  .forms {
    bottom: 15em;
  }
}
@media (min-width: 760px) {
  .forms {
    bottom: 5em;
  }
  #chart_wrap {
    padding-bottom: 50%;
  }
  #piechart {
    left: 12em;
  }
}

@media (min-width: 760px) and (max-width: 1007px) {
  #chart_wrap {
    padding-top: 11em;
  }
}

@media (min-width: 860px) {
  #piechart {
    left: 18em;
  }
}

@media (min-width: 1070px) {
  #piechart {
    left: 26em;
  }
}
@media (min-width: 1121px) {
  .forms {
    bottom: 12em;
  }
  #piechart {
    left: 30em;
  }
}
@media (min-width: 1300px) {
  .forms {
    bottom: 15em;
  }
  #piechart {
    left: 40em;
  }
}
